@import 'tailwindcss';

@theme {
  --color-status-none: rgba(107, 114, 128, 0.125);
  --color-status-doing: rgba(37, 99, 235, 0.125);
  --color-status-stuck: rgba(255, 12, 12, 0.125);
  --color-status-pedding: rgba(255, 99, 51, 0.125);
  --color-status-done: rgba(16, 185, 129, 0.125);

  /* Priority Colors */
  --color-priority-urgent: rgba(220, 38, 38, 0.1);
  --color-priority-high: rgba(244, 63, 94, 0.1);
  --color-priority-medium: rgba(245, 158, 11, 0.1);
  --color-priority-low: rgba(96, 165, 250, 0.1);
}

/* Custom Hue Slider */
.hue-slider {
  -webkit-appearance: none;
  appearance: none;
}

.hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.hue-slider::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.hue-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.hue-slider::-moz-range-thumb:active {
  transform: scale(1.2);
}

/* 1. Độ rộng tổng thể của thanh cuộn */
::-webkit-scrollbar {
  width: 5px; /* Chiều rộng cho scrollbar dọc */
  height: 5px; /* Chiều cao cho scrollbar ngang */
}

/* 2. Thiết kế phần đường ray (Track) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* 3. Thiết kế phần tay cầm (Thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Tạo khoảng trống giữa tay cầm và track */
}

/* 4. Hiệu ứng khi di chuột qua (Hover) */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
